<p>Crear un artista</p>
<hr>
<form [formGroup]="formularioArtista" (ngSubmit)="onSave()"
autocomplete="off">
    <div>
        <label>Nombre del Artista</label>
        <br>
        <input type="" 
        formControlName="Nombre"
        placeholder="nombre del artista">
        <br>
        <span class="text-red-500"
        *ngIf="isValidField('Nombre')">
            Nombre está vacío</span>
    </div>
    <hr>
    <div>
        <button 
        class="bg-sky-500 hover:bg-sky-700 
        px-5 py-2.5 text-sm mt-2 leading-3 rounded-md font-semibold text-white"
        >Guardar</button>

    </div>
</form>