<app-buscar #buscar (termino)="recibirTermino($event)"></app-buscar>

<div class="mt-4 -mb-3 p-4 bg-stone-500">
    <div class="bg-slate-50 rounded-xl  dark:bg-slate-800/25 py-4">
        <div class="rounded-xl">
            <div class="shadow-sm my-8">
                <div class="flex items-center justify-between px-4 static">
                    <span class="dark:border-slate-600 font-bold p-4 text-slate-400 dark:text-slate-200 text-left">Canciones totales: {{ cancionesReponse.Total }}</span>
                    <app-menu-despleglable (opcionesAPadre)="recibirOpcionesDeHijo($event)"></app-menu-despleglable>
                </div>
                <div class="flex items-center px-4 mx-4">
                    <input checked id="checked-checkbox" type="checkbox"
                    (change)="onCheckboxChange($event)" 
                    [checked]="configuracion.OcultarCancionesDeOtrosUsuarios"
                    class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded 
                    focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 
                    dark:bg-gray-700 dark:border-gray-600">
                    <label for="checked-checkbox" class="ms-2 text-sm font-medium text-slate-400 dark:text-gray-300">
                    Ocultar canciones de otros usuarios
                    </label>
                </div>
                <div class="overflow-x-auto" *ngIf="cancionesReponse.Total > 0">
                    <table class="border-collapse table-auto w-full text-sm">
                    <thead>
                        <tr>
                            <th class="border-b dark:border-slate-600 font-medium p-4 text-slate-400 dark:text-slate-200 text-center">#</th>
                            <td class="border-b dark:border-slate-600 font-medium p-4 text-slate-400 dark:text-slate-200 text-left">Nombre</td>
                            <td class="border-b dark:border-slate-600 font-medium p-4 
                            text-slate-400 dark:text-slate-200 text-left"
                            [hidden]="!configuracion.Tabla_Canciones.Artistas"
                            >
                                Artistas
                            </td>
                            <td class="border-b dark:border-slate-600 font-medium p-4 text-slate-400 dark:text-slate-200 text-left"
                            [hidden]="!configuracion.Tabla_Canciones.Generos"
                            >
                                Generos
                            </td>
                            <td class="border-b dark:border-slate-600 font-medium p-4 text-slate-400 dark:text-slate-200 text-left"
                            [hidden]="!configuracion.Tabla_Canciones.Tono"
                            >
                            Tono
                            </td>
                            <td class="border-b dark:border-slate-600 font-medium p-4 text-slate-400 dark:text-slate-200 text-left"
                            [hidden]="!configuracion.Tabla_Canciones.BPM"
                            >
                            BPM
                            </td>
                            <td class="border-b dark:border-slate-600 font-medium p-4 text-slate-400 dark:text-slate-200 text-left"
                            [hidden]="!configuracion.Tabla_Canciones.Duracion"
                            >
                            Duración
                            </td>
                        </tr>
                    </thead>
                    <tbody class="bg-white dark:bg-slate-800">
                        <tr *ngFor="let cancion of cancionesReponse.Canciones; index as i">
                            <th class="border-b border-slate-100 dark:border-slate-700 p-4 text-slate-500 dark:text-slate-400">{{ i + 1 }}</th>
                            <td class="border-b border-slate-100 dark:border-slate-700 p-4 text-slate-500 dark:text-slate-400">
                                <a routerLink="/canciones/{{ cancion.CancionId }}">{{ cancion.Nombre }} </a>
                            </td>
                            <td class="border-b border-slate-100 dark:border-slate-700 p-4 text-slate-500 dark:text-slate-400"
                            [hidden]="!configuracion.Tabla_Canciones.Artistas"
                            >
                                <span *ngFor="let artista of cancion.Artistas; index as i">
                                    <a routerLink="/artistas/{{ artista.ArtistaId }}">{{ artista.Nombre }} </a>
                                    {{ cancion.Artistas.length !== (i + 1) ? ', ' : '' }}</span>
                            </td>
                            <td class="border-b border-slate-100 dark:border-slate-700 p-4 text-slate-500 dark:text-slate-400"
                            [hidden]="!configuracion.Tabla_Canciones.Generos">
                                <span *ngFor="let genero of cancion.Generos; index as i">
                                    <a routerLink="/generos/{{ genero.GeneroId }}">{{ genero.Nombre }} </a>
                                    {{ cancion.Generos.length !== (i + 1) ? ', ' : '' }}</span>
                            </td>
                            <td class="border-b border-slate-100 dark:border-slate-700 p-4 text-slate-500 dark:text-slate-400"
                            [hidden]="!configuracion.Tabla_Canciones.Tono">
                                {{ cancion.Tono }}
                            </td>
                            <td class="border-b border-slate-100 dark:border-slate-700 p-4 text-slate-500 dark:text-slate-400"
                            [hidden]="!configuracion.Tabla_Canciones.BPM">
                                {{ cancion.BPM }}
                            </td>
                            <td class="border-b border-slate-100 dark:border-slate-700 p-4 text-slate-500 dark:text-slate-400"
                            [hidden]="!configuracion.Tabla_Canciones.Duracion">
                                {{ cancion.Duracion }}
                            </td>
                        </tr>
                    </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>