<div *ngIf="notificationType === 'warning'"
class="fixed right-0 top-8 max-sm:w-screen w-1/4 container">
<div class="flex max-sm:ml-32 p-4 text-sm text-yellow-700 rounded-l bg-yellow-50 dark:bg-gray-800 dark:text-yellow-200" 
role="alert">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" 
    class="w-5 text-yellow-500 mr-2">
        <path fill-rule="evenodd" d="M8.485 2.495c.673-1.167 2.357-1.167 3.03 0l6.28 10.875c.673 1.167-.17 2.625-1.516 2.625H3.72c-1.347 0-2.189-1.458-1.515-2.625L8.485 2.495zM10 5a.75.75 0 01.75.75v3.5a.75.75 0 01-1.5 0v-3.5A.75.75 0 0110 5zm0 9a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd"></path>
    </svg>
    <span>{{ message }}</span> 
  </div>
</div>

<div *ngIf="notificationType === 'success'"
class="fixed bg-blue-500 text-blue-200 text-xl p-3 pr-12 rounded-l right-0 top-5 sm:top-20 flex flex-row items-center">
<button class="material-symbols-outlined mr-3 hover:text-blue-50">close</button>
<div class="select-none">{{ message }}</div>
</div>

<div *ngIf="notificationType === 'error'"
class="fixed bg-red-500 text-red-200 text-xl p-3 pr-12 rounded-l right-0 top-5 sm:top-20 flex flex-row items-center">
<button class="material-symbols-outlined mr-3 hover:text-red-50">close</button>
<div class="select-none">{{ message }}</div>
</div>