
<div *ngIf="artistaResponse.ArtistaId">
    <div class="flex">
        <p class="mr-4">UUID: {{ artistaResponse.ArtistaId }}</p>
        <a routerLink="/artistas/editar/{{ uuid }}" 
        class="bg-sky-500 hover:bg-sky-700 
        px-5 py-2.5 text-sm leading-3 rounded-md font-semibold text-white">
            Editar</a>
    </div>
    <p>Nombre: {{ artistaResponse.Nombre }}</p>
    <p>Slug: {{ artistaResponse.Slug }}</p>
</div>

<div *ngIf="uuidValido && !artistaResponse.ArtistaId">
    <p>No se encontró un artista con ese Id</p>
</div>
<div *ngIf="!uuidValido">
    <p>Página no encontrada</p>
</div>
