<p>navbar works!</p>

<nav class="{{ background }} border-gray-200 dark:bg-gray-900 mb-4">
    <ul>
        <li>
            <a>Inicio</a>
        </li>

        <hr>
        <li>
            <a routerLink="/cuenta">Cuenta</a>
        </li>
        <hr>
        <li>
            <a routerLink="/artistas">Artistas</a>
        </li>
        <li>
            <a routerLink="/artistas/crear">Crear artista</a>
        </li>
        <hr>

        <hr>
        <li>
            <a routerLink="/canciones">Canciones</a>
        </li>
        <li>
            <a routerLink="/canciones/crear">Crear canción</a>
        </li>
        <hr>
        <li>
            <a routerLink="/letra-live">Letra Live</a>
        </li>
        <hr>

        <li>
            <a>Configuracion</a>
        </li>
    </ul>
      
</nav>
<router-outlet></router-outlet>