
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />

<form 
[formGroup]="formularioCrearCancion" 
class="max-sm:px-2" 
(ngSubmit)="onSave()"
autocomplete="off">
    <div class="w-full mb-4 border border-gray-200 rounded-lg bg-gray-50 dark:bg-gray-700 dark:border-gray-600">
        <div class="flex items-center justify-between px-3 py-2 border-b dark:border-gray-600">
            <div class="flex flex-wrap items-center divide-gray-200 sm:divide-x sm:rtl:divide-x-reverse dark:divide-gray-600">
                <div class="flex items-center space-x-1 rtl:space-x-reverse sm:pe-4">
                    
                    <!-- Botón Letra -->
                    <button type="button" 
                    (click)="seleccionarOpcion(0)"
                    class="p-2 rounded cursor-pointer flex
                    {{ menuCrearCancion.opcion === 0 ? 'text-blue-500' : 'text-gray-500' }}  
                    {{ HoverButtons }} hover:bg-gray-100
                    dark:text-gray-400 dark:hover:text-white dark:hover:bg-gray-600">
                        <span class="material-symbols-outlined">lyrics</span>
                        <span *ngIf="menuCrearCancion.opcion === 0"
                        class="ml-2 font-semibold text-center">Letra</span>
                    </button>

                    <!-- Botón Acordes -->
                    <button type="button" 
                    (click)="seleccionarOpcion(1)"
                    class="p-2 rounded cursor-pointer flex
                    {{ menuCrearCancion.opcion === 1 ? 'text-blue-500' : 'text-gray-500' }}
                    {{ HoverButtons }} hover:bg-gray-100 
                    dark:text-gray-400 dark:hover:text-white dark:hover:bg-gray-600">
                    <span class="material-symbols-outlined">music_note</span>
                    <span *ngIf="menuCrearCancion.opcion === 1"
                        class="ml-2 font-semibold text-center">Acordes</span>
                    </button>
                
                    <!-- Botón Links -->
                    <button type="button" 
                    (click)="seleccionarOpcion(2)"
                    class="p-2 rounded cursor-pointer flex
                    {{ menuCrearCancion.opcion === 2 ? 'text-blue-500' : 'text-gray-500' }}
                    {{ HoverButtons }} hover:bg-gray-100 dark:text-gray-400 dark:hover:text-white dark:hover:bg-gray-600">
                    <span class="material-symbols-outlined">link</span>
                    <span *ngIf="menuCrearCancion.opcion === 2"
                        class="ml-2 font-semibold text-center">Links</span>
                </button>
                
                <!-- Botón Baterias -->
                    <button type="button" 
                    (click)="seleccionarOpcion(3)"
                    class="p-2 rounded cursor-pointer flex
                    {{ menuCrearCancion.opcion === 3 ? 'text-blue-500' : 'text-gray-500' }}
                    {{ HoverButtons }} hover:bg-gray-100 dark:text-gray-400 dark:hover:text-white dark:hover:bg-gray-600">
                        <span class="material-symbols-outlined">speed</span>
                        <span *ngIf="menuCrearCancion.opcion === 3"
                        class="ml-2 font-semibold text-center">Baterias</span>
                    </button>


                    <button type="button" 
                    (click)="seleccionarOpcion(4)"
                    class="p-2 rounded cursor-pointer flex
                    {{ menuCrearCancion.opcion === 4 ? 'text-blue-500' : 'text-gray-500' }}
                    {{ HoverButtons }} hover:bg-gray-100 dark:text-gray-400 dark:hover:text-white dark:hover:bg-gray-600">
                        <span class="material-symbols-outlined">comedy_mask</span>
                        <span *ngIf="menuCrearCancion.opcion === 4"
                        class="ml-2 font-semibold text-center">Comentarios</span>
                    </button>
                </div>
                
            </div>
            
            
        </div>
        <div class="px-4 py-2 bg-white rounded-b-lg h-full dark:bg-gray-800">
            <label for="editor" class="sr-only">Publish post</label>
            <textarea
            *ngIf="menuCrearCancion.opcion === 0"
            rows="24" 
            class="block w-full px-0 text-sm text-gray-800 bg-white border-0 
            dark:bg-gray-800 focus:ring-2 focus:ring-transparent
            focus:outline-none focus:border-transparent focus:shadow-none dark:text-white dark:placeholder-gray-400" 
            formControlName="Letra"
            placeholder="Letra de la canción...">
        </textarea>

        <div *ngIf="menuCrearCancion.opcion === 1">
            <div class="flex hover:bg-sky-50 p-2"
            *ngFor="let lineas of cancion.Lineas; index as i">
                <div class="h-4" *ngIf="lineas.SaltoLinea"></div>

                <div *ngIf="!lineas.SeEstaEditando"
                class="flex grow hover:bg-sky-50 flex-wrap">
                    <div 
                    class="mr-1 text-center content-center cursor-pointer
                    hover:bg-blue-300 hover:p-1 hover:rounded-lg hover:font-semibold hover:text-white" 
                    *ngFor="let linea of lineas.Palabras">
                            {{ linea.Palabra }}
                    </div>
                </div>

                
                <span (click)="modificarLinea(i)" 
                *ngIf="!lineas.SaltoLinea && !lineas.SeEstaEditando && !seEstaEditantoUnaLinea.bool"
                class="material-symbols-outlined ml-2 text-gray-500 bg-gray-200 text-sm cursor-pointer p-1 rounded-lg hover:bg-blue-200 hover:text-blue-500">edit</span>
                
                <span *ngIf="seEstaEditantoUnaLinea.bool && seEstaEditantoUnaLinea.linea != i"
                class="material-symbols-outlined ml-2 text-gray-300 bg-gray-100 text-sm p-1 rounded-lg">edit</span>
                
                <form class="flex w-full" *ngIf="lineas.SeEstaEditando"
                [formGroup]="formularioEditarLinea" 
                (ngSubmit)="guardarLineaModificada(i)" autocomplete="off">
                    <input *ngIf="lineas.SeEstaEditando"
                    formControlName="Letra"
                    class="grow border border-gray-300 text-sm rounded-lg px-2
                    focus:ring-blue-500 focus:border-blue-500" 
                    type="text" value="{{ unirPalabras( lineas.Palabras )}}" />
                    <button *ngIf="!lineas.SaltoLinea && lineas.SeEstaEditando"
                    class="material-symbols-outlined
                    ml-2
                    text-gray-500 bg-gray-200 
                    text-sm cursor-pointer p-1 rounded-lg 
                    hover:bg-green-200 hover:text-green-500">check</button>
                </form>

            </div>
        </div>
        
    </div>
    <span class="text-red-500"
    *ngIf="isValidField('Letra')">
    Letra está vacío</span>
</div>
    <button class="inline-flex items-center px-5 py-2.5 text-sm font-medium text-center text-white bg-blue-700 rounded-lg focus:ring-4 focus:ring-blue-200 dark:focus:ring-blue-900 hover:bg-blue-800">
        Crear Canción
    </button>
 </form>
 


