<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />

<form 
[formGroup]="formularioCrearCancion" 
class="max-sm:px-2" 
(ngSubmit)="onSave()"
autocomplete="off">

    <div class="relative z-0 w-full mb-5 group">
        <input 
        class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 
        border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 
        focus:outline-none focus:ring-0 focus:border-blue-600 peer" 
        type="text" 
        name="floating_CancionNombre" 
        formControlName="CancionNombre"
        id="floating_CancionNombre" 
        placeholder=" "/>
        <label 
        class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform 
        -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 
        rtl:peer-focus:left-auto peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 
        peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
        for="floating_CancionNombre">
        Nombre:
        </label>
        <span class="text-red-500" *ngIf="isValidField('CancionNombre')">Nombre está vacío</span>
    </div>

<div class="relative z-0 w-1/2 mb-5 group">
    <input 
    class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 
    border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 
    focus:outline-none focus:ring-0 focus:border-blue-600 peer" 
    type="text" 
    formControlName="CancionTonoOriginal"
    name="floating_CancionTono" 
    id="floating_CancionTono" 
    placeholder=" "/>
    <label 
    class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform 
    -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 
    rtl:peer-focus:left-auto peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 
    peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
    for="floating_CancionTono">
    Tono original:
</label>
<span class="text-red-500" *ngIf="isValidField('CancionTonoOriginal')">Tono está vacío</span>
</div>

<div class="relative z-0 w-1/2 mb-5 group">
    <input 
    class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 
    border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 
    focus:outline-none focus:ring-0 focus:border-blue-600 peer" 
    type="text" 
    formControlName="CancionDuracion"
    name="floating_CancionDuracion" 
    id="floating_CancionDuracion" 
        placeholder=" "/>
        <label 
        class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform 
        -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 
        rtl:peer-focus:left-auto peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 
        peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
        for="floating_CancionDuracion">
            Duración:
        </label>
        <span class="text-red-500" *ngIf="isValidField('CancionDuracion')">Duración está vacío</span>
    </div>

    <div class="relative z-0 w-1/2 mb-5 group">
        <input 
        class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 
        border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 
        focus:outline-none focus:ring-0 focus:border-blue-600 peer" 
        type="text" 
        formControlName="CancionBPM"
        name="floating_CancionBPM" 
        id="floating_CancionBPM" 
        placeholder=" "/>
        <label 
        class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform 
        -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 
        rtl:peer-focus:left-auto peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 
        peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
        for="floating_CancionBPM">
            BPM:
        </label>
    </div>

    <app-artistas-crear-cancion (agregar)="seAgregoArtistaDesdeHijo($event)"></app-artistas-crear-cancion>
    <span class="text-red-500" *ngIf="isValidField('Artistas')">No hay artistas</span>
    
    <app-generos-crear-cancion class="mt-2" (agregar)="seAgregoGeneroDesdeHijo($event)"></app-generos-crear-cancion>
    <span class="text-red-500" *ngIf="isValidField('Generos')">No hay generos</span>

    <div class="w-full my-4 border border-gray-200 rounded-lg bg-gray-50 dark:bg-gray-700 dark:border-gray-600">
        <app-menu-crear-canciones (estadoMenuHijo)="recibirPosicionMenu($event)" [cancion]="cancion"/>
        <div class="px-4 py-2 bg-white rounded-b-lg h-full dark:bg-gray-800">
            
            <app-textarea-letra-crear-cancion (letraHijo)="recibirCancion($event)" [cancion]="cancion" *ngIf="posicionMenu === 0"/>
            
            <app-div-agregar-acordes-crear-cancion [cancion]="cancion" *ngIf="posicionMenu === 1"/>

            <app-links *ngIf="posicionMenu === 2"></app-links>

            <app-bateria *ngIf="posicionMenu === 3"></app-bateria>

    </div>
    <div class="flex flex-col">
        <span class="text-red-500" *ngIf="isValidField('Letra')">Letra está vacío</span>
    </div>
</div>
    <button type="submit" class="inline-flex items-center mb-4 px-5 py-2.5 text-sm font-medium text-center text-white bg-blue-700 rounded-lg focus:ring-4 focus:ring-blue-200 dark:focus:ring-blue-900 hover:bg-blue-800">
        Crear Canción
    </button>
 </form>
 


