<form [formGroup]="formularioCancion" autocomplete="off">
  <!-- Aqui se tiene que tomar la canción actual y se va a pintar linea por linea -->
  <!-- <div class="flex hover:bg-sky-50 p-2" *ngFor="let lineas of cancion.Lineas; index as i"> -->
  <div class="flex hover:bg-sky-50 p-2" *ngFor="let linea of cancion.Lineas; index as i">
    
    
    <app-palabra class="flex grow hover:bg-sky-50 flex-wrap"
    *ngIf="!linea.SeEstaEditando && linea.Palabras.length > 0 && !linea.Palabras[0].Palabra.startsWith('@')"
    [Linea]="linea" [i]="i" [cancion]="cancion"></app-palabra>
    
    <app-div-grupo-acordes class="flex grow hover:bg-sky-50 flex-wrap" 
    *ngIf="!linea.SeEstaEditando && (linea.Palabras.length === 0 || linea.Palabras[0].Palabra.startsWith('@') )"
    [Linea]="linea" [i]="i"></app-div-grupo-acordes>


    <!-- Esto habilita el modo edicion -->
    <span class="material-symbols-outlined ml-2 text-gray-500 bg-gray-200 text-sm cursor-pointer p-1 rounded-lg 
    hover:bg-blue-200 hover:text-blue-500"
      (click)="modificarLinea(i)"
      *ngIf="!linea.SeEstaEditando && !seEstaEditantoUnaLinea.bool">edit</span>

    <!-- Esto es el mismo boton de habilitar edicion pero deshabilitado, esto pasa cuando ya se está editando una linea -->
    <span class="material-symbols-outlined ml-2 text-gray-300 bg-gray-100 text-sm p-1 rounded-lg"
    *ngIf="seEstaEditantoUnaLinea.bool && seEstaEditantoUnaLinea.linea != i">edit</span>

    <!-- Cuando damos click en editar se habilita un input y un botón de check -->
    <div class="flex w-full" *ngIf="linea.SeEstaEditando">
      <input
      formControlName="Linea"
        *ngIf="linea.SeEstaEditando"
        class="grow border border-gray-300 text-sm rounded-lg px-2 focus:ring-blue-500 focus:border-blue-500"
        type="text"/>
      <button class="material-symbols-outlined ml-2 text-gray-500 bg-gray-200 text-sm cursor-pointer p-1 rounded-lg 
      hover:bg-green-200 hover:text-green-500"
        (click)="guardarLineaModificada(i)"
        *ngIf="linea.SeEstaEditando">
        check
      </button>
    </div>

  </div>
</form>

<button class="p-2 bg-blue-500 hover:bg-blue-400 rounded-lg px-8 text-white" (click)="test()">ver</button>
